@media only screen and (max-width: 600px) {
    .container {
        width: 375px;
    }

    .video-container iframe {
        width: 370px;
        height: 210px;
    }

    .btn {
        width: 325px;
        height: 60px;
    }

    .btn-container a{
        font-size: 14px;
    }
}